@tailwind base;
@tailwind components;
@tailwind utilities;

.my-quil.ql-container {height: 300px;}

/*************************************************/
@layer base { html{scroll-behavior: auto;} }
::-webkit-scrollbar {display: none;}

input.no-focus:focus {
  outline: none;
  border: none;
  box-shadow: none;
}